<div class="modal-background" ng-click="hideModal()" ng-show="data.showModal"></div>
<div class="modal-content" ng-show="data.showModal">
    <h3>Welcome to The Feud!</h3>
    <p>The Feud is a non-stop massively-multiplayer survey game. Every 30 seconds all players answer a random question simultaneously - you score points if your answer is one of the top choices. That's it!</p>
    </br>
    </br>
    <div class="modalButton">
      <button class="topcoat-button--cta modalButton" ng-click="hideModal()">Got it!</button>
    </div>
</div>​